# Ignorar arquivos e diretórios específicos
node_modules/
build/
dist/
.cache/

# Ignorar arquivos de configuração locais
.env
.env.local

# Logs e saídas temporárias
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos de usuário
.idea/
.vscode/
.DS_Store

# Ignorar arquivos de compilação e dependências
*.log
*.log.*
*.gz

# Ignorar arquivos de produção
build/
out/
dist/
